@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.App {
  text-align: center;
  width: 300px;
  max-width: 800px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid #f0dee9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
h1{
color: blue;
font-size: 20px;
}
input{
  background-color: yellow;

}